.n {
	align-content: center;
	align-items: center;
	align-self: center;
}
.reviewTable{
	align-content: center;
	align-items: center;
	align-self: center;
}

.noticeTable {
	align-content: center;
	align-items: center;
	align-self: center;
}

.textLink {
	color: 'Blue';
	
}
          